.auction {  
    padding: 1em;
    background-color: white;
}

.auction-details {
    display: inline-block;
    margin-left: 2em;
    vertical-align: top;
}

.auction-description {
    text-align: justify;
    background-color: white;
    padding: 1em;
    margin-top: 1em;
}

h1 {
    font-size: 24px;
}