<div id="auction-form">
    <form [formGroup]="formGroup" (validSubmit)="onSubmit()">
        <div class="form-group">
            <label class="control-label" for="name">Auction name</label>
            <input formControlName="name" name="name" id="name" type="text" class="form-control" placeholder="Auction name">
            <bfv-messages></bfv-messages>
        </div>
        <div class="form-group">
            <label class="control-label" for="name">City</label>
            <input formControlName="city" name="city" id="city" type="text" class="form-control" placeholder="City">
            <bfv-messages></bfv-messages>
        </div>
        <div class="form-group">
            <label class="control-label" for="category">Category</label>
            <select formControlName="category" name="category" id=category class="form-control">
                <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
            </select>
            <bfv-messages></bfv-messages>
        </div>
        <div class="form-group">
            <label class="control-label" for="price">Price</label>
            <input formControlName="price" min="0" name="price" id="price" type="number" class="form-control" placeholder="Price">
            <bfv-messages></bfv-messages>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <textarea formControlName="description" name="description" id="description" class="form-control" rows="3"></textarea>
            <bfv-messages></bfv-messages>
        </div>
        <div class="form-group">
            <label class="control-label" for="photo">Select image:</label><br>
            <input formControlName="image" (change)="onFileSelected($event)" type="file" id="photo" name="photo" accept="image/*">
            <bfv-messages></bfv-messages>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>