.auction {
    background-color: #ffffff;
    padding: 0.5em;
    margin-bottom: 1em;
}

.auction-name {
    font-size: 28px;
}

.auction-img {
    padding-right: 1em;
}

.auction-price {
    font-size: 21px;
}

.auction-details {
    font-size: 12px;
    color: gray;
}

a:hover {
    background-color: black;
    color: white;
}