<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Marketplace</a>

      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" routerLink="/add-auction">Add auction</a>
        </li>
      </ul>

    <form *ngIf="!isLogged()" (ngSubmit)="login()" #loginForm="ngForm" class="form-inline my-2 my-lg-0">
      <input class="form-controll mr-sm-2" type="text" placeholder="Username" name="username" [(ngModel)]="user.username">
      <input class="form-controll mr-sm-2" type="password" placeholder="Password" name="password" [(ngModel)]="user.password">
      <button routerLink="" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>

    <button *ngIf="isLogged()" (click)="logout()" class="btn btn-success my-2 my-sm-0" type="submit">Logout</button>
  </nav>